.banner{
    position: relative;
    margin-top: 55px;
    grid-column: 1/-1;
}

.banner:before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 1000;
    top: 0;
}

.banner-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 1000px;
    width: 100%;
    overflow: hidden;

}

.banner-container img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.banner-container .slide{
    display: flex;
    transform: translate3d(0,0,0);
    transition: all 900ms;
    animation: autoplay;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.banner-container .item-slide{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}

.banner-container .pagination{
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-items: center;
    z-index: 1500;
}

.pagination-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    background:rgba(255, 255, 255, 0.5);
    width: 10px;
    height: 10px;
    border-radius: 50px;
    cursor: pointer;
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
}

.pagination-item:hover{
    background: #fff;
}

input[id="1"]:checked~ .slide{
    animation: none;
    transform: translate3d(0,0,0);
}

input[id="1"]:checked~ .pagination .pagination-item[for='1']{
    background: #fff;
}

input[id="2"]:checked~ .slide{
    animation: none;
    transform: translate3d(-100%,0,0);
}

input[id="2"]:checked~ .pagination .pagination-item[for='2']{
    background: #fff;
}

input[id="3"]:checked~ .slide{
    animation: none;
    transform: translate3d(-200%,0,0);
}

input[id="3"]:checked~ .pagination .pagination-item[for='3']{
    background: #fff;
}

@keyframes autoplay{
    33%{
        transform: translate3d(0,0,0);
    }

    66%{
        transform: translate3d(-100%, 0,0);
    }

    100%{
        transform: translate3d(-200%, 0, 0);
    }
}

.banner>img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.banner .content{
    width: 90%;
    color: white;
    z-index: 1500;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}